<%-include("parts/h") %>
<!--ejs vars: cat, indexbooks -->

<div class="container">


 <a href="/createbook">יצירת ספר</a>
  <h1 class="cat">ספרי <%= cat%></h1>
  <hr />
  <div class="container">
    <% indexbooks.forEach(function(book){ %>
    <a
      class=" text-center col-lg-3 col-md-4 col-sm-6"
      href="/showbook/<%=book._id%>"
      ><img src="<%=book.img %>" />
      <div>
        <p>
          <b><%= book.name %> </b>
          <br />
          <%= book.writer %>

          <br />
          
            39₪
            <br>
            <!-- צריך להוסיף כפתור הוספה לעגלה פה -->
        </p>
      </div>
    </a>
    <%})%>
  </div>
</div>

<%-include("parts/footer") %>
