<%-include("parts/h") %>
<!--ejs vars: cat, catBooks, arrBooks -->

<div class="container">
  <form class="form-inline" action="/search/b/book" method="POST">
    <button type="submit">
      <i class="fa fa-search"></i>
    </button>
    <input
      type="search"
      class="search"
      placeholder="חפש/י ספר או מחבר/ת"
      name="s"
    />
  </form>

  <% if (cat == "english"){ var c = "אנגלית" } else if (cat == "reference"){ var
  c = "עיון" } else if (cat == "romance"){ var c = "רומנטיקה" } else if (cat ==
  "fantasy"){ var c ="פנטזיה" } else{ var c = "מתח/ אימה" } %>
  <h1 class="cat">ספרי <%= c%></h1>
  <a href="/<%=cat%>/punchie">add a book</a>
  <hr />
  <div class="container">
    <% catBooks.forEach(function(book){ %>
    <a
      class="kat text-center col-lg-3 col-md-4 col-sm-6 thumbnail c"
      href="/<%=cat%>/<%=book._id%>"
      ><img src="<%=book.img %>" />
      <div class="centered">
        <p>
          <b><%= book.name %> </b>
          <br />
          <%= book.writer %>

          <br />
          <%= book.price %>
        </p>
      </div>
    </a>
    <%})%>
  </div>
</div>

<%-include("parts/footer") %>
