<%-include("parts/showh") %>
<!--vars: cat, id, ser, chosenBook, arrBooks -->
<script>
  function taks() {
    var sump = document.querySelector(".sump");
    var arrow = document.querySelector(".arrow");

    if (sump.style.display == "none") {
      arrow.classList.remove("fa-chevron-down");
      arrow.classList.add("fa-chevron-up");
      sump.style.display = "block";
    } else {
      sump.style.display = "none";
      arrow.classList.remove("fa-chevron-up");
      arrow.classList.add("fa-chevron-down");
    }
  }
</script>
<div class="container">
  <form class="form-inline" action="/search/b/book" method="POST">
    <button id="searchButton" type="submit">
      <i class="fa fa-search"></i>
    </button>
    <input
      type="search"
      class="search"
      placeholder="חפש/י ספר או מחבר/ת"
      name="s"
    />
  </form>
</div>
<a href="/<%=cat %>/<%=id %>/nesCaffe">edit this book</a>
<div class="container bodycontainer">
  <div class="di">
    <b class="shadow dib">
      <%= chosenBook.writer %> - <%= chosenBook.name %>
    </b>
    <div class="book">
      <img src="<%= chosenBook.img %>" />
      <p class="centered pCentered">
        <b><%= chosenBook.category %> </b>

        <br />
        <%= chosenBook.price %>
        <br />
        מחיר משלוח: 10₪
      </p>
    </div>
    <div class="summary">
      <button class="sumButton" onclick="taks()">
        תקציר
        <i
          style="font-size: 0.5em"
          class="fa fa-chevron-down arrow"
          aria-hidden="true"
        ></i>
      </button>
      <hr />
      <div class="sump">
        <b><%= chosenBook.summary %></b>
      </div>
    </div>
    <div class="order">
      <a href="/<%=cat%>/<%=id%>/orders">להזמנת ספר</a>
      <hr />
    </div>
  </div>
</div>
<!-- more books -->
<%if (chosenBook.series){%>
<div class="container bottomcontainer shadow">
  <p id="morebooks">עוד ספרים מאת <%=chosenBook.writer%></p>
  <div class="container">
    <% ser.forEach(function(book){ if (chosenBook.name != book.name){ %>
    <a
      href="/<%=cat%>/<%=book._id%>"
      class="col-lg-3 col-md-4 col-sm-6 thumbnail c"
    >
      <img src="<%=book.img%>" />
      <p class="centered">
        <b><%=book.name %></b>
        <br />
        <b><%=book.price %></b>
      </p>
    </a>
    <% }}) %>
  </div>
</div>
<% }%> <%-include("parts/footer") %>
