<%-include("parts/showh") %>
<!--vars: cat, id, ser, chosenBook, arrBooks -->
<script>
  function taks() {
    var sump = document.querySelector(".sump");
    var arrow = document.querySelector(".arrow");

    if (sump.style.display == "none") {
      arrow.classList.remove("fa-chevron-down");
      arrow.classList.add("fa-chevron-up");
      sump.style.display = "block";
    } else {
      sump.style.display = "none";
      arrow.classList.remove("fa-chevron-up");
      arrow.classList.add("fa-chevron-down");
    }
  }
</script>
<div class="container">
  <form class="form-inline" action="/search/b/book" method="POST">
    <button id="searchButton" type="submit">
      <i class="fa fa-search"></i>
    </button>
    <input
      type="search"
      class="search"
      placeholder="חפש/י ספר או מחבר/ת"
      name="s"
    />
  </form>
  <!-- <div style="margin-top: 3%" class="container">
    <form
      target="paypal"
      action="https://www.paypal.com/cgi-bin/webscr"
      method="post"
    >
      <input type="hidden" name="cmd" value="_s-xclick" />
      <input
        type="hidden"
        name="encrypted"
        value="-----BEGIN PKCS7-----MIIG1QYJKoZIhvcNAQcEoIIGxjCCBsICAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYBX5RmYwPIYl/f/xgqk3DWC8sYKCSdf7cmtrJ4XTxjcRVC2T8o7QTQcOQOyNNpdq8SJhpSnI2HG27bSrC7sAzyNcFJaWVfsH0RYSFfpu5klEdpIMTX0KQCZjaq6Clt0pxfHs3ZXGaTBnTrZGQNfxYo0O64h7X74j4r5qGU4hoNyEzELMAkGBSsOAwIaBQAwUwYJKoZIhvcNAQcBMBQGCCqGSIb3DQMHBAhNqEGcA2wInYAws1aveceL2V5fECalVuSktosDKZWDOyLBw5EVcYAkloAngaUTKxHH7wd7fQWG+bt4oIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMjAxMDA2MDkxMTE4WjAjBgkqhkiG9w0BCQQxFgQUDyTwYhs3UlY/vxnOQ/XEcKSwQWUwDQYJKoZIhvcNAQEBBQAEgYC3BjnacZ1/dMpnN1roZVn16QBnSGRlGcXRHbZ55KDzOCmxBwRkclMLJYWgtAqCeAtiqy2gVMBcYxrs1qC4HP2FSDs/z2a1SKQcw0LgTcWfOTCSuajtwh/yXSOmVgsu2psVut4R6+LpbWBCgyFSx/MRUwA64TSmzFqPdXxBaGmZ9w==-----END PKCS7-----"
      />
      <input
        type="image"
        src="https://www.paypalobjects.com/he_IL/i/btn/btn_viewcart_LG.gif"
        border="0"
        name="submit"
        alt="PayPal - הדרך הקלה והבטוחה יותר לשלם באינטרנט!"
      />
      <img
        alt=""
        border="0"
        src="https://www.paypalobjects.com/he_IL/i/scr/pixel.gif"
        width="1"
        height="1"
      />
    </form>
  </div> -->
</div>
<a href="/<%=cat %>/<%=id %>/nesCaffe">edit this book</a>
<div class="container bodycontainer">
  <div class="di">
    <b class="shadow dib">
      <%= chosenBook.writer %> - <%= chosenBook.name %>
    </b>
    <div class="book">
      <img src="<%= chosenBook.img %>" />
      <p class="centered pCentered">
        <b><%= chosenBook.category %> </b>

        <br />
        <%= chosenBook.price %>₪
        <!-- <br />
        מחיר משלוח: 8₪ -->
        <br />
      </p>
    </div>
    <div class="payDiv">
      <%- chosenBook.pay %>
      <form
        class="wid"
        target="paypal"
        action="https://www.paypal.com/cgi-bin/webscr"
        method="post"
      >
        <input type="hidden" name="cmd" value="_s-xclick" />
        <input
          type="hidden"
          name="encrypted"
          value="-----BEGIN PKCS7-----MIIG1QYJKoZIhvcNAQcEoIIGxjCCBsICAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYBX5RmYwPIYl/f/xgqk3DWC8sYKCSdf7cmtrJ4XTxjcRVC2T8o7QTQcOQOyNNpdq8SJhpSnI2HG27bSrC7sAzyNcFJaWVfsH0RYSFfpu5klEdpIMTX0KQCZjaq6Clt0pxfHs3ZXGaTBnTrZGQNfxYo0O64h7X74j4r5qGU4hoNyEzELMAkGBSsOAwIaBQAwUwYJKoZIhvcNAQcBMBQGCCqGSIb3DQMHBAhNqEGcA2wInYAws1aveceL2V5fECalVuSktosDKZWDOyLBw5EVcYAkloAngaUTKxHH7wd7fQWG+bt4oIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMjAxMDA2MDkxMTE4WjAjBgkqhkiG9w0BCQQxFgQUDyTwYhs3UlY/vxnOQ/XEcKSwQWUwDQYJKoZIhvcNAQEBBQAEgYC3BjnacZ1/dMpnN1roZVn16QBnSGRlGcXRHbZ55KDzOCmxBwRkclMLJYWgtAqCeAtiqy2gVMBcYxrs1qC4HP2FSDs/z2a1SKQcw0LgTcWfOTCSuajtwh/yXSOmVgsu2psVut4R6+LpbWBCgyFSx/MRUwA64TSmzFqPdXxBaGmZ9w==-----END PKCS7-----"
        />
        <input
          type="image"
          src="https://www.paypalobjects.com/he_IL/i/btn/btn_viewcart_LG.gif"
          border="0"
          name="submit"
          alt="PayPal - הדרך הקלה והבטוחה יותר לשלם באינטרנט!"
        />
        <img
          alt=""
          border="0"
          src="https://www.paypalobjects.com/he_IL/i/scr/pixel.gif"
          width="1"
          height="1"
        />
      </form>
    </div>
    <div class="summary">
      <button class="sumButton" onclick="taks()">
        תקציר
        <i
          style="font-size: 0.5em"
          class="fa fa-chevron-down arrow"
          aria-hidden="true"
        ></i>
      </button>
      <hr />
      <div class="sump">
        <b><%= chosenBook.summary %></b>
      </div>
    </div>
    <!-- <div class="order">
      <a href="/orders">להזמנת ספר</a>
      <hr />
    </div> -->
  </div>
</div>
<!-- more books -->
<%if (chosenBook.series){%>
<div class="container bottomcontainer shadow">
  <p id="morebooks">עוד ספרים מאת <%=chosenBook.writer%></p>
  <div class="container">
    <% ser.forEach(function(book){ if (chosenBook.name != book.name){ %>
    <a
      href="/<%=cat%>/<%=book._id%>"
      class="col-lg-3 col-md-4 col-sm-6 thumbnail c"
    >
      <img src="<%=book.img%>" />
      <p class="centered">
        <b><%=book.name %></b>
        <br />
        <b><%=book.price %>₪</b>
      </p>
    </a>
    <% }}) %>
  </div>
</div>
<% }%> <%-include("parts/footer") %>
