<%-include("parts/showsthead") %>
<!-- vars: editit-->
<div style="text-align: right;" class="container">
<form action="/updatestory/<%=editit._id%>?_method=PUT" method="POST">
    <h2>עריכת ספר </h2>
    <div class="form-group">
        <input class="form-control" type="text" value="<%=editit.name%>" name="story[name]" />
      </div>   
      <div class="form-group">
        <input class="form-control" type="text" value="<%=editit.writer%>" name="story[writer]" />
      </div>
      <div class="form-group">
        <input class="form-control" type="text" value="<%=editit.year%>" name="story[year]" />
      </div>
      <div class="form-group">
      <input class="form-control" type="text" value="<%=editit.cover%>" name="story[cover]" />
      </div>
      <div class="form-group">
        <input class="form-control" type="text" value="<%=editit.fullcover%>" name="story[fullcover]" />
        </div>
        <div class="form-group">
          <input class="form-control" type="text" value="<%=editit.series%>" name="story[series]" />
          </div>
          <div class="form-group">
            <input class="form-control" type="text" value="<%=editit.seriesnum%>" name="story[seriesnum]" />
            </div>
      <div class="form-group">
      <input class="form-control" type="number" value="<%=editit.price%>" name="story[price]" />
      </div>
      <div class="form-group">
  <textarea class="form-control"  name="story[paybutton]"><%=editit.paybutton%></textarea>
</div>

<div class="form-group">
    <textarea class="form-control" name="story[summary]"><%=editit.summary%></textarea>
  </div>
  <div class="form-group">
    <textarea class="form-control" name="story[additionalinfo]"><%=editit.additionalinfo%></textarea>
  </div>
  <div class="form-group">
    <textarea class="form-control" name="story[firstchaps]"><%=editit.firstchaps%></textarea>
  </div>
   
 
 

  <div class="form-group">
    <input type="submit" class="form-control">
  </div>



</form>

<form action="/deletestory/<%=editit._id%>?_method=DELETE" method="POST">
    <button class="form-control btn btn-danger" >מחיקת ספר</button>
    </form>
</div>
<%-include("parts/footer") %>
