<%-include("parts/showsthead") %>
<style>
    .indexjumbo{
      background-image: url("https://i.pinimg.com/236x/12/93/b0/1293b0101c55c9e5499aec83063ea313.jpg");
      background-repeat: no-repeat;
      background-size: cover;
font-family: 'Alef', sans-serif;

    }
</style>
<!-- vars: allstories -->

<div class="container">

    <div class="jumbotron indexjumbo" style="font-weight: 900;color: white;">
        <span style=" font-size: 27px; ">ספרים ומצילים</span>
        <div style="font-size: 18px;">
            50% מההכנסות על הספר, ייתרמו לפרוייקט 'ספרים ומצילים' אשר מוכר ספרים למען סיוע לכלבים ולחתולים בבאר שבע והסביבה
       <br>
       <a href="https://www.instagram.com/books_and_rescuers_/">books_and_rescuers_    </a>
        </div>
    </div>
    <img src="https://i.ibb.co/zb3m1zC/20220414-173054-0000.png" class="logopic bookfix">

    <!-- <a style="font-size: 20px; color: black;" href="/createstory">הוספת ספר</a> -->
<!-- <img src="https://i.ibb.co/94tR3V3/20220114-005412-0000.png" class="logopic punchie"> -->
<br>
<span class="title">הספרים שלי</span>
    <hr class="hr">
    <% allstories.forEach(function(story){ %>
            <a class="indexlink" href="/showstory/<%=story._id%>">
                <img class="indexpic"  src="<%=story.cover%>"/> 
                <div class="info"><b>
                    <%=story.name %> 
                    <br> 
                    <%=story.series %> 
                    <br>
                    <!-- <span class="erasedprice" style="color: red; text-decoration: line-through;">37₪</span> -->
                    <%-story.price%>
                </b>
                </div>
              
            

            </a>
            <%}) %>
</div>

<%-include("parts/footer") %>
