<%-include("parts/showsthead") %>
<style>
    .indexjumbo{
      background-image: url("https://i.pinimg.com/236x/12/93/b0/1293b0101c55c9e5499aec83063ea313.jpg");
      background-repeat: no-repeat;
      background-size: cover;
font-family: 'Alef', sans-serif;

    }
    .title{
        font-size: 28px;
    }
</style>
<!-- vars: allstories -->

<div class="container">

    <img src="https://i.ibb.co/zb3m1zC/20220414-173054-0000.png" class="logopic bookfix">

    
<br>

<span class="title">הספרים של שילת דהן</span>
    <hr class="hr">
    <% allstories.forEach(function(story){ %>
            <a class="col-lg-3 col-md-4 col-sm-6 booksindex indexlink" href="/showstory/<%=story._id%>">
                <img class="indexpic"  src="<%=story.cover%>"/> 
                <div class="info"><b>
                    <%=story.name %> 
                    <br> 
                    <%=story.series %>  <%=story.seriesnum%>
                    <br>
                    <!-- <span class="erasedprice" style="color: red; text-decoration: line-through;">37₪</span> -->
                    <%-story.price%>
                </b>
                </div>
              
            

            </a>
            <%}) %>

            
</div>

<%-include("parts/footer") %>
