<%-include("parts/showsthead") %>
<!-- vars: allstories -->

<div class="container">
    <!-- <a style="font-size: 20px; color: black;" href="/createstory">הוספת ספר</a> -->
<img src="https://i.ibb.co/94tR3V3/20220114-005412-0000.png" class="logopic punchie">
<br>
<span class="title">הספרים שלי</span>
    <hr class="hr">
    <% allstories.forEach(function(story){ %>
            <a class="indexlink" href="/showstory/<%=story._id%>">
                <img class="indexpic"  src="<%=story.cover%>"/> 
                <div class="info"><b>
                    <%=story.name %> 
                    <br> 
                    <%=story.series %> 
                    <br>
                    <!-- <span class="erasedprice" style="color: red; text-decoration: line-through;">37₪</span> -->
                    <br>
                    ₪ <%=story.price%>
                </b>
                </div>
              
            

            </a>
            <%}) %>
</div>

<%-include("parts/footer") %>
