<%-include("parts/showsthead") %>
<!-- vars: showedstory -->
<script>
    function explain(){
        var exp = document.querySelector("#explain")
        if(exp.style.display =="none"){
            exp.style.display = "block"
        } else{
            exp.style.display = "none"
        }
    }

    function firstch(){
        var exp = document.querySelector(".firsts")
        if(exp.style.display =="none"){
            exp.style.display = "block"
        } else{
            exp.style.display = "none"
        }
    }
    

</script>
<style>
 .butto{
     background-color: lavender;
     font-weight: 900;
     height: 47px;
     padding-top: 10px;
     font-size: 19px;
     border-radius: 19px;
 }
 .firsts{
    font-family: 'Noto Sans Hebrew', sans-serif;
margin-top: 6%;}

    span.“chap” {
    font-size: 27px;
    text-align: center;
}
span.“tim” {
    text-align: center;
    /* font-weight: 900; */
    margin-top: 3px;
    font-size: 13px;
}

.innerfirst{
    font-size: 15.5px;
    line-height: 2;
    text-align: justify;
}
/* #bord{
    border-right: 5px solid #FFFACD;
    padding-right: 10px;
} */

.innersum b{
    font-size:20px ;
}


.payimage{
    height: 60px;
    padding-top: 10px;
    text-align: center;
}
#digitalg{
    background-color: #AFEEEE;
    border: none;
    border-radius: 19px;
    font-weight: 900;
}
#explain{
    direction: rtl;
    font-size: 16px;
    line-height: 25px;
    padding-top: 10px ;

}
.digitalexplanation{
    font-family: 'Alef', sans-serif;
}

button input[type=image]{
    height: 0px;
}

.showjumbo{
    background: #BE93C5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #7BC6CC, #BE93C5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #7BC6CC, #BE93C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

</style>
<div class="container">
    <!-- <a  href="/editstory/<%=showedstory._id%>">עריכת ספר</a> -->
    <div class="show">
        <span class="storyname"><%=showedstory.series%> 
            <br><span id="actualname"> <%=showedstory.name%> </span></span>
        <hr class="hr">
        <span><%=showedstory.seriesnum%> </span>
        <br>
       
            <img  class="showpic" src="<%=showedstory.fullcover%>">
        <div class="showinfo"><%=showedstory.writer%>
            <br>
            שנת הוצאה: <%=showedstory.year%>
        <br>
    ספר דיגיטלי - 
     <!-- <span class="erasedprice" style="color: red; text-decoration: line-through;">37₪</span> -->
     <%=showedstory.price%>₪
    </div>

        
        <%-showedstory.paybutton%>
        <div class="digitalexplanation">
            <button onclick="explain()" id="digitalg">איך קוראים ספר דיגיטלי</button>
            <div  style="display: none;" id="explain">
                עד 24 שעות לאחר רכישת הספר, ישלח אליכם במייל קובץ הספר להורדה (לשם כך, עליכם להזין את כתובת המייל שלכם בתשלום)
                <br>
                לאחר מכן תצטרכו להוריד את האפליקציה אשר מאפשרת לקרוא ספר דיגיטלי ובתוך האפליקציה, הספר יופיע לכם באופן אוטומטי
                <br>
                במייל, יחד עם קובץ הורדת הספר, ישלח אליכם גם קישור לאפליקציה בה קוראים את הספר
               
            </div>
            <div style="font-size: 14px; margin-top: 3%;">מי שמעוניין לשלם בביט מוזמן ליצור איתי קשר באחת מהדרכים המופיעות בתחתית האתר</div>

        </div>
            
            
        <div style="font-size: 13px; margin-top: 8%;">
            50% מההכנסות על הספר, ייתרמו לפרוייקט 'ספרים ומצילים' אשר מוכר ספרים למען סיוע לכלבים ולחתולים בבאר שבע והסביבה
        </div>
        <div style="margin-top: 7%; padding-bottom: 0px;" class="summary jumbotron showjumbo">
            <span  class="tak" > תקציר</span>
            <div class="innersum">
                <%-showedstory.summary%>
                <div class="additional">
                    <%-showedstory.additionalinfo%>
                </div>

            </div>
            
        </div>
        <div onclick="firstch()" class="butto">קריאת הפרק הראשון</div>
        <div style="display: none;" class="firsts linebr">
            <%-showedstory.firstchaps%>
        </div>
    </div>
   

</div>

<%-include("parts/footer") %>
