<%-include("parts/showsthead") %>
<!-- vars: showedstory -->
<script>
    function explain(){
        var exp = document.querySelector("#explain")
        if(exp.style.display =="none"){
            exp.style.display = "block"
        } else{
            exp.style.display = "none"
        }
    }

    function firstch(){
        var firstChapter = document.querySelector(".firsts")
        var summary = document.querySelector(".actualSummary")
        var takB = document.querySelector(".tak")
        var aboutText = document.querySelector(".aboutText")
        var aboutB = document.querySelector(".aboutButton")
        var chapButton = document.querySelector(".chapButton")
            firstChapter.style.display = "block"
            summary.style.display = "none"
            aboutText.style.display = "none"
            chapButton.style.backgroundColor  = "#AFEEEE"
            takB.style.backgroundColor  = "white"
            aboutB.style.backgroundColor  = "white"

    }
    function taksir(){
        var firstChapter = document.querySelector(".firsts")
        var summary = document.querySelector(".actualSummary")
        var aboutText = document.querySelector(".aboutText")
        var aboutB = document.querySelector(".aboutButton")
        var takB = document.querySelector(".tak")
        var chapButton = document.querySelector(".chapButton")
                    summary.style.display = "block"
                    firstChapter.style.display = "none"
                    aboutText.style.display = "none"
                    aboutB.style.backgroundColor  = "white"

            chapButton.style.backgroundColor  = "white"
            takB.style.backgroundColor  = "#AFEEEE"
    }
    function about(){
        var firstChapter = document.querySelector(".firsts")
        var summary = document.querySelector(".actualSummary")
        var aboutText = document.querySelector(".aboutText")
        var aboutB = document.querySelector(".aboutButton")
        var takB = document.querySelector(".tak")
        var chapButton = document.querySelector(".chapButton")
        aboutText.style.display = "block"
                    summary.style.display = "none"
                    firstChapter.style.display = "none"
            chapButton.style.backgroundColor  = "white"
            takB.style.backgroundColor  = "white"
            aboutB.style.backgroundColor  = "#AFEEEE"
    }
    

</script>
<style>
.comHr{
    border:1px solid gainsboro  ;
  background-color: gainsboro  ;
}
    .commentsform, .showcomments{
        margin-top: 8%;
        text-align: right;
        font-family: 'Varela Round', sans-serif;
    }
 .butto{
    font-family: 'Alef', sans-serif;
    box-shadow: 1px 2px #888888;
height: 30px;
     font-size: 23px;
     border-left: 2px solid whitesmoke;
 }
 .innersum{
     font-size: 17px;
     color: dimgray;
 }
 .firsts{
    font-family: 'Noto Sans Hebrew', sans-serif;
margin-top: 6%;
font-size:17px;
color: dimgray;
}

    span.“chap” {
    font-size: 27px;
    text-align: center;
}
span.“tim” {
    text-align: center;
    margin-top: 3px;
    font-size: 13px;
}

.innerfirst{
    font-size: 15.5px;
    line-height: 2;
    text-align: justify;
}
.storyname{
    font-family: 'Rubik Wet Paint', cursive;

}
.innersum b{
    font-size:20px ;
}

.buttonscol{
    margin-top: 4%;
}
.payimage{
    height: 60px;
    padding-top: 10px;
    text-align: center;
}
.payb{
    float: right;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.digitalg{
    background-image: url("https://i.pinimg.com/236x/12/93/b0/1293b0101c55c9e5499aec83063ea313.jpg");
    border: none;
    color: white;
    width: 110px;
    border-radius: 19px;
    font-weight: 900;
    font-family: 'Alef', sans-serif;
margin-bottom: 5%;
}
#explain{
    direction: rtl;
    font-size: 14px;
    line-height: 25px;
    padding-top: 10px ;

}


button input[type=image]{
    height: 0px;
}

#addCom{
    font-family: 'Varela Round', sans-serif;
font-size: 29px;
  }
  .comtext{
    white-space: pre-line;
  }
  .chapswords{
      margin-top: 5%;
      font-family: 'Frank Ruhl Libre', serif;
      padding: 7%;
      text-align: justify;
      font-weight: 700;
      line-height: 1.5;  }
.submitbtn{
    background-image: url("	https://i.pinimg.com/236x/12/93/b0/1293b0101c55c9e5499aec83063ea313.jpg");
    background-repeat: no-repeat;
    color: white;
    border-radius: 25px;
}

</style>
<div class="container">
    <!-- <a  href="/editstory/<%=showedstory._id%>">עריכת ספר</a> -->
    <div class="show">
        <span class="storyname"><%=showedstory.series%> 
            <br><span id="actualname"> <%=showedstory.name%> </span></span>
        <hr class="hr">
        <span><%=showedstory.seriesnum%> </span>
        <br>
       
            <img  class="showpic" src="<%=showedstory.fullcover%>">
        <div class="showinfo">
            <br>
            שנת הוצאה: <%=showedstory.year%>
        <br>
    ספר דיגיטלי - 
     <%-showedstory.price%>
     <br>
     <br>
     50% מההכנסות נתרמים לפרוייקט 'ספרים ומצילים' אשר מממן סיוע לכלבים וחתולים
    </div>
        <%-showedstory.paybutton%>
            <button onclick="explain()" class="digitalg payb col-lg-4 col-sm-4 col-md-4 m">איך קוראים ספר דיגיטלי</button>
            <br>
            <br>
            <br>
            <br>

            <div  style="display: none;" id="explain">
                עד 24 שעות לאחר רכישת הספר, ישלח אליכם במייל קובץ הספר להורדה וקישור לאפליקציית הקריאה (לשם כך, עליכם להזין את כתובת המייל שלכם בתשלום)               
            <br>
            <br>
            ניתן לשלם גם בביט ולהזין מייל בתשלום, ביט למספר  <a href="tel:+972528799399">052-8799399</a>
            </div>


            
            
        <!-- <div style="font-size: 13px; margin-top: 8%;"> 50% מההכנסות על הספר, ייתרמו לפרוייקט 'ספרים ומצילים' אשר מוכר ספרים למען סיוע לכלבים ולחתולים בבאר שבע והסביבה</div> -->
    </div>
</div>


            <div class="buttonscol">
                <span style="background-color: #AFEEEE" onclick="taksir()" class="tak butto sumButton col-lg-4 col-sm-4 col-md-4" > תקציר</span>
                <span onclick="about()" class="butto aboutButton col-lg-4 col-sm-4 col-md-4">על הספר</span>
                <span onclick="firstch()" class="butto chapButton col-lg-4 col-sm-4 col-md-4">פרק ראשון</span>

            </div>
            <div class="container"> 
            <div class="innersum actualSummary">
                <%-showedstory.summary%>
            </div>
            <div style="display: none;" class="innersum aboutText">
                <%-showedstory.aboutstory%>
            </div>
        <div style="display: none;" class="firsts linebr">
            <b> <%-showedstory.title1%> </b>
           <div class="chapswords"><%-showedstory.prolog%> </div> 
            <b> <%-showedstory.title2%> </b>
            <div class="chapswords"><%-showedstory.firstChapter%> </div> 

        </div>
    <div style="margin-top: 9%;" class="showcomments container">
        <span style=" font-size: 23px;" class="titlefont">תגובות/סקירות על הספר</span>
        <div style="margin-top: 5%">
       <% showedstory.comments.forEach(function(comment){%>
           <div class="singleComment container">
            <b><%= comment.name%> </b> 
                <div class="comtext"><%= comment.text%></div>
                <hr class="comHr">
           </div>
    
                <%})%>
            </div>
    </div>
<form class="commentsform" action="/createcomment/<%=showedstory._id%>" method="post">

    <span id="addCom">הוספת תגובה</span>
    <div class="form-group">
        <label>שם</label>
        <input class="form-control" type="text" required name="comment[name]">
      </div>
      <div class="form-group">
        <label>אימייל</label>
        <input class="form-control" type="email"  name="comment[email]">
      </div>
      <div class="form-group">
        <label>תגובה</label>
        <textarea class="form-control" required name="comment[text]"></textarea>
      </div>
      <div class="form-group">
        <input class="btn submitbtn" class="form-control" type="submit" value="שליחה">
    </div>
</form>
   
</div>
<%-include("parts/footer") %>
