<%-include("parts/showsthead") %>
<!-- vars: foods, indexfoods -->

<div class="container">
    <a href="/foodCreate">הוספת מתכון</a>
    <br>
    <span class="title"><%=indexfoods%> </span>
    <hr class="hr">
    <% foods.forEach(function(food){ %>
        <div  class="col-lg-3 col-md-6 col-sm-6 fooddivs">
            <a href="/showfood/<%=food._id%>">

                <img class="foodpicin" src="<%=food.img %> ">
                <div class="foodinfo">
                  <b>  <%=food.name %> 
                    <br>
                    <%=food.state %> 
<br>
 </div>

            </a>       
    
        </div>
    <%}) %>

</div>
<%-include("parts/footer") %>
