<%-include("parts/showsthead") %>
<!-- vars: foodsresults, searchinput -->
<div class="container">
    <%if (foodsresults.length !=0){%>
        <span class="title"> תוצאות עבור <%=searchinput%> </span>
        <hr class="hr">
        <div class="index">
            <% foodsresults.forEach(function(food){ %>
                <div  class="col-lg-3 col-md-6 col-sm-6 fooddivs">
                    <a href="/showfood/<%=food._id%>">
        
                        <img class="foodpicin" src="<%=food.img %> ">
                        <div class="foodinfo">
                          <b>  <%=food.name %> 
                            <br>
                            <%=food.state %> 
        <br>
         </div>
        
                    </a>       
            
                </div>
                       
                       
                <%}) %>
        </div>

    <%} else{ %>
        <span class="title"> לא נמצאו תוצאות עבור  <%=searchinput%> </span>

        <%   } %>
   

</div>
<%-include("parts/footer") %>
