<%-include("parts/showsthead") %>
<!-- vars:editit -->

<div class="container">
    <form action="/updatesong/<%=editit._id%>?_method=PUT" method="POST">
        <h2>edit the song</h2>
        <div class="form-group">
            <input class="form-control" type="text" value="<%=editit.name%>" name="song[name]" />
          </div>   
          <div class="form-group">
            <input class="form-control" type="text" value="<%=editit.singer%>" name="song[singer]" />
          </div>
          <div class="form-group">
            <select class="form-control" name="song[series]"><option value="true">true</option>
            <option value="false">false</option>
            </select>
          </div>
    
    
    <div class="form-group">
      <textarea class="form-control"  name="song[lyrics]"><%=editit.lyrics%></textarea>
    </div>
       
     
     
    
      <div class="form-group">
        <input type="submit" class="form-control">
      </div>
    

    </form>
    <form action="/deletesong/<%=editit._id%>?_method=DELETE" method="POST">
        <button class="form-control btn btn-danger" >מחיקת שיר</button>
        </form>
  </div>

    <%-include("parts/footer") %>
