<%-include("parts/showsthead") %>
<!--vars: editit-->
<div style="direction: inherit;" class="container ed">

<form  action="/updatebook/<%=editit._id%>?_method=PUT" method="POST">
    <h2>עריכת הספר <%=editit.name%></h2>
    <div class="form-group">
      <select class="form-control" name="book[catagory]">
        <option>רומנטיקה</option>
        <option>פנטזיה</option>
        <option>מתח</option>
        <option>אנגלית</option>
      </select>
    </div>
    <div class="form-group">
      <input class="form-control" type="text" value="<%=editit.name %>" name="book[name]" />
    </div>    
    <div class="form-group">
      <input class="form-control" type="text" value="<%=editit.writer %>" name="book[writer]" />
    </div> 
    <div class="form-group">
      <select class="form-control" name="book[series]"><option value="true">true</option>
      <option value="false">false</option>
      </select>
    </div>
    <div class="form-group">
      <input class="form-control" type="text" value="<%=editit.genere %>" name="book[genere]" />
    </div>

    
   
    <div class="form-group">
      <input class="form-control" type="text"value="<%=editit.img %>" name="book[img]" />
    </div>
   
    
    <div class="form-group">
      <textarea class="form-control" name="book[summary]"><%=editit.summary %></textarea>
    </div>
    <div class="form-group">
      <textarea class="form-control" name="book[pay]"><%=editit.pay %></textarea>
    </div>
    
    <div class="form-group">
      <input type="submit" class="form-control">
    </div>
    </div>
</form>
 <form action="/deletebook/<%=editit._id%>?_method=DELETE" method="POST">
<button class="form-control btn btn-danger" style="width: 20%;">Delete this book</button>
</form>
</div>

<%-include("parts/footer") %>
