<%-include("parts/showsthead") %>
<!-- vars: indexbooks -->
<div style="margin-top: 2%;" class="container">
    <!-- <a href="/bookcreate">יצירת ספר</a> -->
    <br>
    <img  src="https://i.ibb.co/0rGgnhD/20220512-233433-0000.png" class="logopic bookfix">

    <div class="index">
        <% indexbooks.forEach(function(book){ %>
            <a class="col-lg-3 col-md-4 col-sm-6 indexlink booksindex" href="/showbook/<%=book._id%>">

                <img class="indexpic" src="<%=book.img %> ">
                <div class="info">
                  <b>  <%=book.name %> 
                    <br>
                    <%=book.writer %> 
<br>
39₪
<br>
    <%-book.pay %>


</b> </div>

            </a>
                   
                   
            <%}) %>
    </div>

</div>
<%-include("parts/footer") %>
